{% extends 'flask_user/_authorized_base.html' %}

{% block content %}
    {% from "common/form_macros.html" import render_field, render_checkbox_field, render_submit_field %}
    <h1>{% trans %}Profile{% endtrans %}</h1>

    <h5><a href="{{ url_for('user.balance') }}">Balance: {{ current_user.balance }}</a></h5>
    <hr>
    {##}
    {#    <form action="" method="POST" class="form" role="form">#}
    {#        {{ form.hidden_tag() }}#}
    {#        {% for field in form %}#}
    {#            {% if not field.flags.hidden %}#}
    {#                {% if field.type=='SubmitField' %}#}
    {#                    {{ render_submit_field(field, tabindex=loop.index*10) }}#}
    {#                {% else %}#}
    {#                    {{ render_field(field, tabindex=loop.index*10) }}#}
    {#                {% endif %}#}
    {#            {% endif %}#}
    {#        {% endfor %}#}
    {#    </form>#}

    <p>
        <b>Username:</b> {{ current_user.username }}
        {% if user_manager.USER_ENABLE_CHANGE_USERNAME %}
            <br>
            <a href="{{ url_for('user.change_username') }}">{% trans %}Change username{% endtrans %}</a>
        {% endif %}
    </p>
    {% if user_manager.USER_ENABLE_CHANGE_PASSWORD %}
        <p><a href="{{ url_for('user.change_password') }}">{% trans %}Change password{% endtrans %}</a></p>
    {% endif %}

{% endblock %}