{% extends "common/layout.html" %}

{% block title %}{{ super() }} - Login{% endblock %}

{% from "macro/form_input.html" import renderInput %}

{% block content %}
    <div class="container">
        <form class="form-default" method="post" novalidate>
            {{ renderInput(form.login, "form-control") }}
            {{ renderInput(form.password, "form-control") }}
            {{ form.submit(class="btn btn-primary") }}
            {{ form.hidden_tag() }}
            {{ form.errors }}
        </form>
    </div>
{% endblock %}