.flashes-container {
	position: fixed;
	bottom: 0;
	left: 20px;
	right: 20px;

	.alert {
		margin: 0 0 10px;

		&-message {
			color: #383d41;
			background-color: #e2e3e5;
			border-color: #d6d8db;
		}
	}
}