@import "../common/variables";

nav {
	color: $text-white;
	background-color: $dark-2;

	.navbar-brand {
		font-weight: 700;
		background: linear-gradient(to right, #60c6f2 0%, #87ff59 25%, #87ff59 50%, #60c6f2 75%);
		background-size: 200% auto;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		animation: shine 4s linear infinite;
		@keyframes shine {
			to {
				background-position: 200% center;
			}
		}
	}

	a {
		color: $text-white;

		&:hover {
			color: darken($text-white, 20%);
		}
	}

	.balance-item {
		font-size: 1rem;
		margin-right: 2rem;
		text-decoration: underline;
	}

	.profile-button {
		border: 1px solid $text-white;
		color: $text-white;
		background: transparent;
		padding: .2rem 1rem;

		&:hover {
			background: $text-white;
			color: $dark-2;
		}
	}

	.dropdown-menu {
		margin-top: 15px;
		box-shadow: 2px 2px 5px 0px rgba(101, 101, 101, 0.1);
	}

	@media ($max-sm) {
		text-align: center;

		.balance-item {
			margin: 15px 0;
		}
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}

	@media ($min-md) {
		.dropdown-menu:before {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			right: 0;
			opacity: 0;
			z-index: 0;
			height: 15px;
			top: -15px;
		}
	}
}